.chatContainer {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background: transparent;
}

.header {
  padding: 1rem 0;
  border-bottom: 1px solid #7d6281;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  flex-shrink: 0;
  text-transform: uppercase;
}

.messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  max-width: 750px;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  scroll-behavior: smooth;
}

.messages.empty {
  justify-content: center;
  align-items: center;
}

.user {
  align-self: flex-end;
  background: #5a0669;
  color: white;
  border-bottom-right-radius: 0.2rem;
}

.other {
  align-self: flex-start;
  background: #481a50;
  border-bottom-left-radius: 0.2rem;
}

.inputBar {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  border-radius: 50px;
  background: #481a50;
  border-top: 1px solid #7d6281;
  gap: 0.5rem;
  flex-shrink: 0; /* keep it pinned */
}

.inputBar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 1.25rem;
  border-radius: 50px;
  background: #7d6281;
}

.uploadBtn,
.sendBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: #d5bfd8;
  padding: 0.4rem;
}
.fallbackText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  color: #555;
  gap: 1rem;
}

.fallbackText h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}

.fallbackText p {
  font-size: 1rem;
  color: #666;
  max-width: 300px;
}

.fallbackText img {
  width: 180px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
